{% extends "bootstrap/base.html" %}
{% block navbar %}
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gate Auto Config</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/nginx-list">nginx</a></li>
                    <li><a href="/rinetd-list">rinetd</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
{% endblock %}
