{% extends 'base.html' %}
{% block title %}nginx rules list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr class="row">
                            <th>From</th>
                            <th>To</th>
                            <th colspan="2" class="">Operate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in rule_list %}
                            <tr class="row">
                                <td>{{ item.domain }}:{{ item.listen_port }}</td>
                                <td>{{ item.dst }}</td>
                                <td>
                                    <button class="btn btn-info"
                                            onclick="window.location.href='/nginx-edit?id={{ item.id }}'">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger"
                                            onclick="window.location.href='/nginx-delete?id={{ item.id }}'">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <a href="/nginx-add" class="btn btn-default btn-success">add</a>
            </div>
        </div>
    </div> <!-- container -->
{% endblock %}