<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nginx Rule Edit</title>
</head>
<body>
<h1>Nginx Rule Edit</h1>
{% if add %}
<h3>add rule : <a style="color: red;">{{add}}</a></h3>
{% else %}
<h3>change rule : <a style="color: red;">{{edit}}</a></h3>
{% endif %}
<form action="nginx-save" method="post">
    <a>domain:</a><input type="text" name="domain" id="domain" value="{{domain}}"><br>
    <a>listen_port:</a><input type="text" name="listen_port" id="listen_port" value="{{listen_port}}"><br>
    <a>dst:</a><input type="text" name="dst" id="dst" value="{{dst}}"><br>
    <a>remark:</a><input type="text" name="remark" id="remark" value="{{remark}}"><br>
    <button type="submit">Save</button>
</form>

</body>
</html>