<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete rule</title>
</head>
<body>
<h3>Delete this rule ? </h3>
<form action="/nginx-delete" method="post">
    <a style="color: red">{{item.domain}}:{{item.listen_port}} => {{item.dst}}</a>
    <input type="text" name="id" id="id" readonly="readonly" style="visibility: hidden;" value="{{item.id}}"><br>
    <button type="submit">Yes</button>
</form>
<button onClick="window.location.href='/nginx-list'">No</button>
</body>
</html>