{% extends 'base.html' %}
{% block title %}delete rinetd rule{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h2>delete rule?</h2>
                <h4 style="color: red">{{ item.bindaddress }}:{{ item.bindport }} => {{ item.connectaddress }}:{{ item.connectport }}</h4></div>
        </div>
        <form method="post">
            <div style="visibility: hidden;">
                <input type="text" name="id" value="{{ item.id }}">
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <button class="btn btn-default btn-block btn-success" type="submit">Yes</button>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <button class="btn btn-default btn-block btn-danger ">No</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}