{% extends 'base.html' %}
{% block title %}nginx rules list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr class="row">
                            <th>bindaddress</th>
                            <th>bindport</th>
                            <th>connectaddress</th>
                            <th>connectport</th>
                            <th colspan="2">Operate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in rule_list %}
                            <tr class="row">
                                <td>{{ item.bindaddress }}</td>
                                <td>{{ item.bindport }}</td>
                                <td>{{ item.connectaddress }}</td>
                                <td>{{ item.connectport }}</td>
                                <td>
                                    <a class="btn btn-info"
                                       href='/rinetd-edit?id={{ item.id }}'>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger"
                                       href='/rinetd-delete?id={{ item.id }}'>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <a href="/rinetd-add" class="btn btn-default btn-success">add</a>
            </div>
        </div>
    </div> <!-- container -->
{% endblock %}

